.boton-buscar {
  position: absolute;
  top: 11%;
  left: 85%;
  transform: translate(-50%, -50%);
  background: black;
  height: 46px;
  border-radius: 40px;
  padding: 5px; }
  .boton-buscar:hover > input {
    width: 200px;
    padding: 0 10px; }
  .boton-buscar:hover > .icono {
    background: gray; }

.icono {
  color: darkviolet;
  float: right;
  width: 40px;
  font-size: 1.3rem;
  height: 40px;
  border-radius: 50%;
  background: #2F3640;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
  cursor: pointer;
  text-decoration: none; }
  .icono:hover {
    transform: rotate(360deg) scale(0.8); }

input {
  width: 0;
  border: none;
  outline: none;
  padding: 0;
  background: none;
  font-size: 1.1rem;
  transition: 0.5s ease;
  line-height: 40px;
  color: #fff; }

.navegacion {
  background-color: darkmagenta;
  width: 100%; }
  .navegacion ul {
    list-style: none; }

.menu > li {
  position: relative;
  display: inline-block; }
  .menu > li > a {
    display: block;
    padding: 15px 20px;
    color: white;
    text-decoration: none;
    font-family: verdana; }
    .menu > li > a:hover {
      background-color: darkorchid; }

.submenu {
  position: absolute;
  background: darkviolet;
  width: 150%;
  display: none; }
  .submenu li a {
    display: block;
    padding: 15px;
    color: white;
    font-family: verdana;
    text-decoration: none; }
    .submenu li a:hover {
      background-color: darkorchid; }

.menu li:hover .submenu {
  display: block; }
