.boton-buscar {
  position: absolute;
  top: 11%;
  left: 85%;
  transform: translate(-50%, -50%);
  background: black;
  height: 46px;
  border-radius: 40px;
  padding: 5px; }
  .boton-buscar:hover > input {
    width: 200px;
    padding: 0 10px; }
  .boton-buscar:hover > .icono {
    background: gray; }

.icono {
  color: darkviolet;
  float: right;
  width: 40px;
  font-size: 1.3rem;
  height: 40px;
  border-radius: 50%;
  background: #2F3640;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
  cursor: pointer;
  text-decoration: none; }
  .icono:hover {
    transform: rotate(360deg) scale(0.8); }

input {
  width: 0;
  border: none;
  outline: none;
  padding: 0;
  background: none;
  font-size: 1.1rem;
  transition: 0.5s ease;
  line-height: 40px;
  color: #fff; }

.navegacion {
  background-color: darkmagenta;
  width: 100%; }
  .navegacion ul {
    list-style: none; }

.menu > li {
  position: relative;
  display: inline-block; }
  .menu > li > a {
    display: block;
    padding: 15px 20px;
    color: white;
    text-decoration: none;
    font-family: "Open Sans", sans-serif; }
    .menu > li > a:hover {
      background-color: #9653d4; }

.submenu {
  position: absolute;
  background: darkviolet;
  width: 150%;
  display: none; }
  .submenu li a {
    display: block;
    padding: 15px;
    color: white;
    font-family: "Open Sans", sans-serif;
    text-decoration: none; }
    .submenu li a:hover {
      background-color: #9653d4; }

.menu li:hover .submenu {
  display: block; }

h1 {
  margin-bottom: 5px; }

p {
  text-align: justify;
  font-family: "Open Sans", sans-serif; }

.novedades1 {
  background-color: #9653d4;
  border-radius: 20px; }

.novedades {
  background-image: linear-gradient(antiquewhite, #c897d4, antiquewhite);
  font-family: "Open Sans", sans-serif;
  padding-bottom: 20px; }
  .novedades article {
    position: relative;
    padding-top: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-evenly; }
    .novedades article img {
      max-width: 15%;
      max-height: 15%;
      padding: 1px;
      border: 2px double darkmagenta;
      transition: max-width, max-height, 1s; }
      .novedades article img:hover {
        max-height: 17%;
        max-width: 17%; }

.footer-clean {
  padding: 50px 0;
  background-color: white;
  color: #4b4c4d; }
  .footer-clean h3 {
    margin-top: 0;
    margin-bottom: 12px;
    font-weight: bold;
    font-size: 16px; }
  .footer-clean ul {
    padding: 0;
    list-style: none;
    line-height: 1.6;
    font-size: 14px;
    margin-bottom: 0; }
    .footer-clean ul a {
      color: inherit;
      text-decoration: none;
      opacity: 0.8; }
      .footer-clean ul a:hover {
        opacity: 1; }
  .footer-clean .item-social {
    text-align: right; }
    .footer-clean .item-social > a {
      font-size: 24px;
      width: 40px;
      height: 40px;
      line-height: 40px;
      display: inline-block;
      text-align: center;
      border-radius: 50%;
      border: 1px solid #ccc;
      margin-left: 10px;
      margin-top: 22px;
      color: inherit;
      opacity: 0.75; }
      .footer-clean .item-social > a:hover {
        opacity: 0.9; }

@media (max-width: 767px) {
  .footer-clean .item {
    text-align: center;
    padding-bottom: 20px; } }

@media (max-width: 767px) {
  .footer-clean .item.social {
    text-align: center; } }

@media (max-width: 991px) {
  .footer-clean .item.social > a {
    margin-top: 40px; } }

@media (max-width: 767px) {
  .footer-clean .item.social > a {
    margin-top: 10px; } }
