@import "../variables/variables";
@import "../sass2/mixins";
@import "../sass2/maps";

.footer-clean {
    padding: 50px 0;
    background-color: white;
    color: #4b4c4d;
    & h3{
        margin-top: 0;
        margin-bottom: 12px;
        font-weight: bold;
        font-size: 16px;
    }
    & ul{
        padding: 0;
        list-style: none;
        line-height: 1.6;
        font-size: 14px;
        margin-bottom: 0;
        & a{
            color: inherit;
            text-decoration: none;
            opacity: 0.8;
            &:hover{
                opacity: 1;
            }
        }
    }
    & .item.social{
        text-align: right;
        &>a{
            font-size: 24px;
            width: 40px;
            height: 40px;
            line-height: 40px;
            display: inline-block;
            text-align: center;
            border-radius: 50%;
            border: 1px solid #ccc;
            margin-left: 10px;
            margin-top: 22px;
            color: inherit;
            opacity: 0.75;
            &:hover{
                opacity: 0.9;
            }
        }
    }
}


@include breakpoint(md){
    .footer-clean .item{
        text-align: center;
        padding-bottom: 20px;
    }
}

@include breakpoint(md){
    .footer-clean .item.social{
        text-align: center;
    }
}

@include breakpoint(lg){
    .footer-clean .item-social>a{
        margin-top: 40px;
    }
}

@include breakpoint(md){
    .footer-clean .item-social>a{
        margin-top: 10px;
    }
}
