@import "../variables/variables";
@import "../sass2/mixins";

h1 {
    margin-bottom: 5px;
}

p {
    text-align: justify;
    font-family: $tipo-de-letra;
}

.novedades1 {
    background-color: $color-terciario;
    border-radius: 20px;
}
