@import "../variables/variables";

@mixin centrar {
    display: flex;
    justify-content: center;  
}

@mixin fuente {
    text-decoration: none;
    font-family: $tipo-de-letra;
}

@mixin max-width-height {
    max-width: 100%;
    max-height: 100%;
}